<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Aggregus is a community marketplace for unique experiences. We're revolutionizing how people share, create, and discover awesome experiences by individuals and local businesses near them." />
<meta name="author" content="Aggregus LLC" />

meta(property="og:image", content=profileimg)
meta(property="og:title", content=name)
meta(property="og:url", content='https://www.aggregus.com/shareuser/'+aggid+'/#profile/'+aggid)
meta(property="og:description", content=description)
meta(property="og:site_name", content="Aggregus")

<link rel="shortcut icon" href="https://d2qjfe4gq0m6av.cloudfront.net/assets/favicon.ico">

<title>Aggregus</title> 

<!--[if lte IE 8]>
<link href="../../css/ie8.css" type="text/css" rel="stylesheet" />
<![endif]--> 

<!--[if gte IE 9]>
<link href="../../css/aggregus.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" data-main="../../main.js" src="../../lib/require.js"></script>
<![endif]-->
 
<!--[if !IE]><!-->
<link href="../../css/aggregus.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" data-main="../../main.js" src="../../lib/require.js"></script>
<!--<![endif]-->

</head>

<body class="nooverflo">

<div id="header"></div>

<div id="main"></div>

<div id="modal"></div>

<div id="footer"></div>

<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-41060605-1', 'aggregus.com');ga('send', 'pageview');</script>

</body>

</html>
